QWidget {
    font: 15px "Roboto Light";
    background-color: white;
}

QLineEdit {
    background-color: whitesmoke;
    border-radius: 5px;
    border: none
}

QComboBox {
    border: 1px solid darkgray;
}

QPushButton {
    background-color: white;
    border-radius: 5px;
    border: 1px solid darkgray;
}

QPushButton:hover {
    background-color: whitesmoke;
}

QListWidget {
    border-radius: 5px;
    border: 1px solid darkgray;
}

QTableWidget {
    border: 1px solid darkgray;
    border-radius: 5px;
}

QTableView {
    border: none
}

QMenu::item:selected {
    background-color: whitesmoke;
    color: black
}
